
@{
    Layout = null;
    //string PatientName = "ABC";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PatientAdd</title>
    <style>
        form {
            width: 300px;
        }
        input {
            width: 150px;
            margin-bottom: 10px; 
        }

    </style>
</head>
<body>
    <form action="MySubmit" method="post">
        
        Patient Name : <input id="txtname" name="txtname" type="text" value="" />
        Patient Number : <input id="txtnumber" name="txtnumber" type="text" value="" />
        Patient Address : <input id="txtaddress" name="txtaddress" type="text" value="" />
        <input type="submit" value="submit" name="submit" />
    </form>

</body>
</html>
